<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>846085401091-l8001un8r23ll2isclfmihkck4t1vgm1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.846085401091-l8001un8r23ll2isclfmihkck4t1vgm1</string>
	<key>API_KEY</key>
	<string>AIzaSyCiQJsAPxyoLtcLElnz8OtTBXQtPJY4HkM</string>
	<key>GCM_SENDER_ID</key>
	<string>846085401091</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cy.com.cap.academy1</string>
	<key>PROJECT_ID</key>
	<string>cap-notify</string>
	<key>STORAGE_BUCKET</key>
	<string>cap-notify.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:846085401091:ios:593bba84d609511edb3c36</string>
	<key>DATABASE_URL</key>
	<string>https://cap-notify.firebaseio.com</string>
</dict>
</plist>